<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Email</title>
</head>
<body
        style="background-color: #f4f4f4; font-family: Helvetica, Arial, sans-serif"
>
<div
        style="
        margin: 0 auto;
        padding: 20px;
        max-width: 400px;
        background-color: #ffffff;
        border-radius: 10px;
      "
>
  <div style="text-align: center">
    <h1>Play Delivery</h1>
  </div>

  <h2 style="color: #4a5568; font-size: 20px">Hi [[${name}]]</h2>

  <p style="color: #4a5568; font-size: 16px; line-height: 24px">
    This email is to reset your password of your </strong>Play Delivery</strong> account.
  </p>


  <div
          style="
          text-align: center;
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
  >
    <!-- Add link for button to resetpassword page -->
    <a th:href="${link}" class="btn-primary" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; boxes-sizing: border-boxes; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #f1556c; margin: 0; border-color: #f1556c; border-style: solid; border-width: 8px 16px;">[[${button}]]</a>
  </div>

  <p
          style="
          color: #4a5568;
          font-size: 16px;
          line-height: 24px;
          margin-top: 20px;
        "
  >
    Thanks, <br />
    Play Delivery team
  </p>

  <p
          style="
          color: #718096;
          font-size: 14px;
          line-height: 20px;
          margin-top: 40px;
        "
  >
    This email was sent to
    <a href="#" style="color: #3b82f6; text-decoration: none"
    >contact@playdelivery.com</a
    >. If you'd rather not receive this kind of email, you can
    <a href="#" style="color: #3b82f6; text-decoration: none"
    >unsubscribe</a
    >
    or
    <a href="#" style="color: #3b82f6; text-decoration: none"
    >manage your email preferences</a
    >.
  </p>

  <p style="color: #718096; font-size: 14px; line-height: 20px">
    © {{#dates.format(today, 'yyyy')}} Play Delivery. All Rights Reserved.
  </p>
</div>
</body>
</html>